<script src="/socket.io/socket.io.js" defer></script>
<script defer>
  var map = <%- JSON.stringify(map) %>;

  // 초기 페이지에 접속하면 자동으로 데이터를 갱신하기 위함
  // var $CMD_order_table = $('#CMD_order_list');
  // var $MS_node_table = $('#MS_node_list');
  var currNodeList = [];
  var socket;
  $(function () {
    socket = io();
    bindingClickEventNode(socket)

    // 노드 관련 갱신 반영
    socket.on("updateNodeList", function (nodeList) {
      currNodeList = nodeList;
      // draw map
      _.forEach(nodeList, nodeInfo => {
        showNodeData(nodeInfo.nodeId, nodeInfo.data)
      })
      // $MS_node_table.bootstrapTable('destroy').bootstrapTable({
      //   data: nodeList
      // });
      // document.getElementById("CMD_node_date").innerText = new Date().toLocaleString();
    });

    // 명령 관련 갱신 반영
    // socket.on("updateOrderInfo", function (orderList) {
    //   $CMD_order_table.bootstrapTable('destroy').bootstrapTable({
    //     data: orderList
    //   });
    //   document.getElementById("CMD_order_date").innerText = new Date().toLocaleString();
    // });

  });

  // 노드 데이터 변경
  function changeNodeData(nodeId, nodeData) {
    socket.emit("changeNodeData", nodeId, nodeData);
  }

  /**
   * isChecked: false: off(한글), true: on(영어)
   */
  function reDrawNodeData(isChecked) {
    _.forEach(currNodeList, nodeInfo => {
      showNodeData(nodeInfo.nodeId, nodeInfo.data, isChecked)
    })
  }
</script>